.not-found{
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* deixa um embaixo do outro */
}
.not-found h1{
  font-size: 50px;
}
.not-found h2{
  font-size: 20px;
  padding: 20px;
}
.not-found a{
  text-decoration: none;
  background-color: rgb(80, 80, 80);
  padding: 12px;
  color: #fff;
}